<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--开启@Autowired。。。功能，但他不支持@Controller..这些注解。可由<context:component-scan  替换-->
    <!--<context:annotation-config />-->

    <context:component-scan base-package="com.crowdfunding.*" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

     <mvc:annotation-driven />

    
    <!-- 字符串字符编码转换 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
        <property name="messageConverters">   
	         <list>
	             <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
	                <property name="supportedMediaTypes">
	                      <list>
	                          <value>application/json;charset=UTF-8</value>
	                     </list>   
	                </property>   
	             </bean>   
	         </list>   
	    </property>
    </bean>

    <!--2019/12/24/12点21分-->
    <!--本想试着配置这个来代替   mvc:annotation-driven  没有成功-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
        <!--<property name="messageConverters">-->
            <!--<list>-->
                <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    

	
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--SpringMVC提供的异常解析器   只能获取异常  不能处理-->
    <bean id="exceptionResolver"   class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
        <property name="exceptionMappings">  
            <props>
                <prop key="java.lang.Exception">error/error</prop>
            </props>  
        </property>  
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="UTF-8" >
        <!--设置允许上传文件的最大值，单位byte-->
        <property name="maxUploadSize" value="2097152"/>
        <!--延迟加载，这个设置为true，主要是为了提高性能，在需要的时候再进行解析。-->
        <property name="resolveLazily" value="true"/>
        <!--设置请求编码格式，必须和JSP的pageEncoding属性一致，一般为UTF-8，默认为ISO-8859-1-->
        <!--这里我把这个属性写在了最上面。那是一种简化的写法-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.crowdfunding.interceptor.WholeInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
